/* footer部分 */
.footer-top {
  background-color: #f8f9fa;
  padding-bottom: 20px;
}
.footer-msg {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  /* line-height: 100px; */
  justify-content: center;
  align-items: center;
  color: #999;
  border-bottom: 1px solid #ebeef0;
}
.footer-msg2 {
  display: flex;
  height: 80px;
  line-height: 80px;
  justify-content: center;
  color: #999999;
}
.footer-msg div {
  margin-right: 10px;
}
.img-codes {
  width: 50px;
  height: 50px;
  margin: 15px 0;
  margin-right: 10px;
}
.icon-bot {
  margin-right: 5px;
}

.news-details-titles {
  color: white;
  padding: 20px;
  font-size: 24px;
}
.news-details-titles::before {
  content: "";
  width: 5px;
  height: 30px;
  background-color: red;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left: -8px;
}
.f_center img {
  width: 100%;
  height: 100%;
}
/* 主要内容区域 */
.news-detailes-main {
  padding: 0px 60px;
}

@media (max-width: 680px) {
  .news-detailes-main {
    padding: 0px 20px;
  }
  .news-details-titles {
    font-size: 20px;
    padding: 30px;
    line-height: normal;
  }
  .news-details-titles::before {
    /* height: 60px; */
    /* top: 17px; */
    left: -15px;
  }
}
@media (max-width: 567px) {
  .news-details-titles::before {
    height: 40px;
    top: 17px;
    /* left: -15px; */
  }
}
